
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-size: 16px;
}

.header{
    background-color: #222831;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.header figure{
    margin: 0px 0px 0px 20px;
    height: 50px;  
}

.header figure img{
 width: inherit;
 height: inherit;
}

h1, h2, h3, h4 {
    font-family: 'Fjalla One', sans-serif;
}

.menu{
    height: inherit;
    align-items: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: inherit;
    align-items: center;
}

.il{
    height: inherit;
}

h1{
    line-height: 1.5;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: -.2;
    text-transform: capitalize;
    color: #eeeeee;
    margin: 0px;
}

.link{
    text-decoration: none;
    color: #eeeeee;
    display: flex;
    height: inherit;
    align-items: center;
    margin: 0px 20px;
    padding: 0px 10px;
}

.main{
    height: 300px;
    background-color: #00adb5;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main span{
    color: #393e46; 
}

.main figure{
    margin: 0px;
    width: 500;
    height: inherit;
    border-radius: 100%;
}

.main img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    filter: grayscale(100%);
}

h2{
    margin: 0px;
    padding: 1.5rem 0px;
    text-transform: uppercase;
    color:#393e46;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.projects{
    padding: 0px 1.5rem 10px 1.5rem;
    background-color: #eeeeee;
}

.project{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #393e46;
    margin-bottom: 40px;
    padding: 4%;
    margin: 0px 0px 1.8rem 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 

.project-left{
    width: 48%;
}

.project-title{
    margin: 0 0 0.7rem 0;
    font-size: 1.3rem;
}

.project-language{
    margin: 0.7rem 0px;
}

.project-date{
    margin: 0.7rem 0px;
}

.project-link{
    margin: 0.7rem 0px;
}

.project-link a{
    text-decoration: none;
}

.project-description{
    margin: 20px 0px;
    font-size: 20px;
    text-align: justify;
}

.project-container_image{
    width: 48%;
    border-radius: 10px; 
    margin: 0;
}

.project-image{
    width: 100%;
    border-radius: inherit;
}

.experiences{
    padding: 0px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.experience{
    margin: 0px 20px 40px 0px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #00adb5;
}

.experience-container_image{
    margin: 0px;
    width: inherit;
}

.experience-image{
    width: inherit;
}

.experience-down{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.experience-title{
    margin: 0px;
}

.experience-description{
    text-align: justify;
}

.experience-down input{
    border: 2px solid #393e46;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #393e46;
}

.experice-mainTitle{
    margin-left: 0px;
}

.contact{
    display: flex;
    background-color: #00adb5;
    padding: 30px 30px 30px 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact-form{
    margin-left: 0px;
}

.contact-form input{
    border-color: #393e46;
    border-style: solid;
    padding: 5px 5px 5px 35px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-image: 25px 25px;
    background-position-y: center;
    background-position-x: 5px;
    outline: none;
}

.contact-form button{
    display: block;
    border: 2px solid #393e46;
    padding: 5px 25px;
    cursor: pointer;
    font-size: 16 px;
    background-color: #eeeeee;
    margin-top: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: #393e46;
}

.contact-form h2{
    padding: 0px;
    color: #393e46;
}

.redes{
    display: flex;
}

.redes-link{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.redes-link.github{
    background-image: url(../img/github.svg);
    background-size: 50px 50px;
}

.redes-link.facebook{
    background-image: url(../img/facebook.svg);
    background-size: 50px 50px;
}

.redes-link.instagram{
    background-image: url(../img/instagram.svg);
    background-size: 50px 50px;
}

.redes-link.twitter{
    background-image: url(../img/twitter.svg);
    background-size: 50px 50px;
}

.footer{
    background-color: #222831;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 90px;
    flex-wrap: wrap;
}

.footer-details{
    display: flex;
    align-items: center;
}

.footer-details img{
    height: 20px;
    margin-left: 5px;    
}

.wrapper{
    margin: 0px auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: inherit;
    max-width: 1024px;
    flex: 1;
    flex-wrap: inherit;
}

@media screen and (max-width : 1024px){  
}

@media screen and (max-width : 768px){
    .header{
        height: auto;
        display: block;
    }
    ul{
        display: block;
    }
    .link{
        justify-content: center;
        margin: 0px 0px;
        padding: 10px 10px;
    }
    .link:hover{
        background-color: #2e3033;
    }
    .header figure{
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0px 0px 0px 0px;
        padding: 10px 0px;
    }

    .projects h2{
        font-size: 1.5rem;
        padding: 1.3rem 0;
    }

    .project{
        display: block;
        padding: 2%;
        box-shadow: 0px 0px 8px #393e46;
    }
    .project-left{
        width: auto;
    }
    .project-container_image{
        width: auto;
    }
    .project-title{
        font-size: 1.2rem;
    }
    .project-description{
        font-size: 1rem;
    }
    .project-language, .project-date, .project-link, .project-description{
        margin: 0.6rem 0;
    }
}

@media screen and (max-width : 480px){
    
    .projects{
        padding: 0 1.2rem 6px 1.2rem;
    }
    
    .project{
        box-shadow: 0px 0px 6px #393e46;
        padding: 3%;
    }

    .project h2{
        padding: 1.1rem 0;
        font-size: 1.4rem;
    }

    .project-title{
        font-size: 1.2rem;
    }

    .project-language, .project-date, .project-link, .project-description{
        margin: 0.6rem 0;
        font-size: 1rem;
    }

    .link{
      padding: 0.5rem 0;  
    }
}

@media screen and (max-width : 320px){
    .projects{
        padding: 0 0.9rem 6px 0.9rem;
    }
    
    .project{
        box-shadow: 0px 0px 4px #393e46;
        margin-bottom: 0.9rem;
        padding: 4%;
    }

    .project h2{
        padding: 1.1rem 0;
        font-size: 1.3rem;
    }

    .project-title{
        font-size: 1.1rem;
    }

    .project-language, .project-date, .project-link, .project-description{
        margin: 0.6rem 0;
        font-size: 0.9rem;
    }

}
